[submodule "vendor/shvets/google-translate"]
	path = vendor/shvets/google-translate
	url = git://github.com/shvets/google-translate.git
[submodule "vendor/symfony/class-loader"]
	path = vendor/symfony/class-loader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/symfony/symfony/src/Symfony/Component/Yaml"]
	path = vendor/symfony/symfony/src/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/symfony/symfony/src/Symfony/Component/Console"]
	path = vendor/symfony/symfony/src/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle"]
	path = vendor/symfony/symfony/src/Symfony/Bundle/FrameworkBundle
	url = https://github.com/symfony/FrameworkBundle.git
